In [145]:
%matplotlib inline
import pandas as pd
from pandas import read_excel
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
import warnings

In [111]:
df = pd.read_excel('Data_Train.xlsx')

In [112]:
df.columns

Index(['TITLE', 'RESTAURANT_ID', 'CUISINES', 'TIME', 'CITY', 'LOCALITY',
       'RATING', 'VOTES', 'COST'],
      dtype='object')

In [113]:
df.shape

(12690, 9)

In [114]:
df_d = df

In [115]:
df_d.shape

(12690, 9)

In [116]:
del df_d['VOTES']

In [117]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12690 entries, 0 to 12689
Data columns (total 8 columns):
TITLE            12690 non-null object
RESTAURANT_ID    12690 non-null int64
CUISINES         12690 non-null object
TIME             12690 non-null object
CITY             12578 non-null object
LOCALITY         12592 non-null object
RATING           12688 non-null object
COST             12690 non-null int64
dtypes: int64(2), object(6)
memory usage: 793.2+ KB

In [118]:
df_d.isna().sum()

TITLE              0
RESTAURANT_ID      0
CUISINES           0
TIME               0
CITY             112
LOCALITY          98
RATING             2
COST               0
dtype: int64

In [119]:
df_d['CITY'].value_counts()

Chennai            2174
Bangalore          2149
Hyderabad          1819
Mumbai             1722
New Delhi          1321
                   ...
682035.               1
Sector 51             1
West Maredpally       1
Mumbai Mahim          1
Borivali West         1
Name: CITY, Length: 359, dtype: int64

In [120]:
df_d[df_d['CITY'].isnull()]

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,COST
129,None,9101,"North Indian, South Indian, Chinese, Continental","12noon – 3pm, 7pm – 2am (Mon-Sun)",NaN,NaN,3.6,500
246,QUICK BITES,14502,Biryani,12noon – 11pm (Mon-Sun),NaN,Palarivattom Kochi,3.4,300
411,None,6313,"North Indian, Chinese, Pizza, Burger, Fast Food",7pm – 4am (Mon-Sun),NaN,NaN,4.0,600
466,None,1133,North Indian,4pm – 9pm (Mon-Sun),NaN,NaN,4.2,200
481,None,4788,Street Food,"11am – 11pm (Mon),9:30am – 12midnight (Tue-Sun)",NaN,NaN,3.7,250
...,...,...,...,...,...,...,...,...
12280,None,3446,"North Indian, Chinese",5pm – 5am (Mon-Sun),NaN,NaN,3.7,500
12314,CASUAL DINING,11724,"North Indian, Bengali","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",NaN,Opposite to corporation bank and LIC office ba...,4.3,650
12447,QUICK BITES,7314,"North Indian, Chinese, Mughlai, Seafood",12:30pm – 12midnight (Mon-Sun),NaN,Hyderabad,3.1,350
12567,None,15532,"Biryani, Chinese, Fast Food, North Indian","11am – 1am (Mon, Sun), 11am – 12:15AM (Tue-Sat)",NaN,NaN,3.7,300
12615,None,13734,"Healthy Food, Salad",9am – 8pm (Mon-Sun),NaN,NaN,3.6,400

In [121]:
df_d = df_d.dropna(subset=['TITLE','CITY','LOCALITY'],axis = 0)

In [122]:
df_d[df_d['CITY'].isnull()]

Empty DataFrame
Columns: [TITLE, RESTAURANT_ID, CUISINES, TIME, CITY, LOCALITY, RATING, COST]
Index: []

In [123]:
df_d.isna().sum()

TITLE            0
RESTAURANT_ID    0
CUISINES         0
TIME             0
CITY             0
LOCALITY         0
RATING           2
COST             0
dtype: int64

In [124]:
df_d.shape

(12577, 8)

In [125]:
df_d['CUISINES'].unique()

array(['Malwani, Goan, North Indian', 'Asian, Modern Indian, Japanese',
       'North Indian, Chinese, Biryani, Hyderabadi', ...,
       'North Indian, Burger, Kebab', 'Goan, Continental',
       'Finger Food, Continental, Asian, Chinese'], dtype=object)

In [126]:
df_d[df_d['RATING'].isnull()]

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,COST
204,BAKERY,15062,Bakery,Not Available,Kochi,Marine Drive,NaN,200
421,CAFÉ,14127,"Cafe, Fast Food",Not Available,Hyderabad,Banjara Hills,NaN,350

In [127]:
df_d[df_d['LOCALITY'].str.contains('Marine')]

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,COST
104,QUICK BITES,10156,"Kerala, South Indian",11am – 11pm (Mon-Sun),Kochi,Marine Drive,2.7,350
204,BAKERY,15062,Bakery,Not Available,Kochi,Marine Drive,NaN,200
235,QUICK BITES,14990,Kerala,8am – 7pm (Mon-Sun),Kochi,Near Marine Drive,-,50
287,CASUAL DINING,1786,"Kerala, North Indian, Chinese",11am – 10pm (Mon-Sun),Kochi,Marine Drive,3.3,550
365,QUICK BITES,14445,"Chinese, Seafood",11am – 11am (Mon-Sun),Kochi,Marine Drive,3.5,500
1061,CAFÉ,13326,Cafe,11:30am – 10pm (Mon-Sun),Kochi,Marine Drive,3.3,500
1497,DESSERT PARLOR,8473,"Ice Cream, Juices, Desserts",9am – 9pm (Mon-Sun),Kochi,Marine Drive,3.2,150
1696,CASUAL DINING,6184,"South Indian, North Indian",10am – 10pm (Mon-Sun),Kochi,Marine Drive,-,400
2025,QUICK BITES,10846,South Indian,7:30am – 7:30pm (Mon-Sun),Kochi,Near Marine Drive,-,150
2135,CASUAL DINING,10616,"North Indian, South Indian","12noon – 3pm, 7pm – 10pm (Mon-Sun)",Kochi,Marine Drive,4.3,400
2251,QUICK BITES,1083,South Indian,4:30am – 7:30pm (Mon-Sun),Kochi,Marine Drive,-,200
2438,CASUAL DINING,2879,South Indian,"7am – 8pm (Mon-Sat),Closed (Sun)",Kochi,Near Marine Drive,3.5,200
2967,CASUAL DINING,5933,South Indian,7am – 7:30pm (Mon-Sun),Kochi,Marine Drive,-,400
2978,CASUAL DINING,10557,"Kerala, Continental, Chinese, North Indian",11am – 11pm (Mon-Sun),Kochi,Marine Drive,3.1,850
3070,BAKERY,3693,"Bakery, Desserts",9:30am – 10:30pm (Mon-Sun),Mumbai,Marine Lines,4.1,400
3749,QUICK BITES,10908,South Indian,6:30am – 7:30pm (Mon-Sun),Kochi,Marine Drive,-,150
3809,"DESSERT PARLOR,BEVERAGE SHOP",7687,"Ice Cream, Beverages",10am – 8pm (Mon-Sun),Kochi,Marine Drive,-,200
4213,DESSERT PARLOR,12008,"Ice Cream, Desserts",9:30am – 11pm (Mon-Sun),Kochi,Marine Drive,3.1,150
4459,"CAFÉ,DESSERT PARLOR",2518,"Cafe, Desserts",10am – 10pm (Mon-Sun),Kochi,Marine Drive,-,300
4569,CASUAL DINING,1668,South Indian,8am – 9pm (Mon-Sun),Kochi,Marine Drive,3.9,150
4629,QUICK BITES,6176,"Biryani, Fast Food",7:30am – 10pm (Mon-Sun),Kochi,Marine Drive,3.3,250
4869,BEVERAGE SHOP,9783,Beverages,11am – 8pm (Mon-Sun),Kochi,Marine Drive,-,200
5004,CASUAL DINING,5977,Kerala,7am – 11pm (Mon-Sun),Kochi,Marine Drive,3.8,250
5131,CASUAL DINING,7873,"Chinese, North Indian, Seafood","11am – 3:30pm, 6:30pm – 12:30AM (Mon-Sun)",Mumbai,Marine Lines,3.7,400
5140,"QUICK BITES,BAKERY",7612,"Parsi, Bakery","7am – 8:45pm (Mon-Sat),7am – 6:30pm (Sun)",Mumbai,Marine Lines,4.2,400
5287,QUICK BITES,7110,"Healthy Food, Kerala",4:30am – 10:30am (Mon-Sun),Kochi,Marine Drive,NEW,600
5696,CASUAL DINING,3475,Chinese,"11am – 4pm, 7pm – 11pm (Mon-Sun)",Kochi,Marine Drive,3.2,450
5838,CASUAL DINING,5814,"Kerala, Fast Food",11am – 9pm (Mon-Sun),Kochi,Marine Drive,-,250
5900,CASUAL DINING,14611,"North Indian, Continental, Thai, Italian, Chin...",12noon – 11pm (Mon-Sun),Kochi,Marine Drive,3.4,800
6213,CASUAL DINING,2900,South Indian,11am – 11pm (Mon-Sun),Kochi,Marine Drive,3.6,200
6336,DESSERT PARLOR,3167,"Ice Cream, Desserts",10am – 10pm (Mon-Sun),Kochi,Marine Drive,-,150
6609,CASUAL DINING,9249,South Indian,9am – 10pm (Mon-Sun),Kochi,Marine Drive,-,400
6802,QUICK BITES,11121,Fast Food,9am – 9pm (Mon-Sun),Kochi,Marine Drive,-,200
7287,DESSERT PARLOR,2707,"Ice Cream, Desserts",11am – 12midnight (Mon-Sun),Kochi,Marine Drive,3.8,250
7538,QUICK BITES,14782,Cafe,11am – 11pm (Mon-Sun),Kochi,Marine Drive,-,400
7546,"FOOD COURT,QUICK BITES",10491,"Kerala, South Indian, Fast Food, Street Food",11am – 10pm (Mon-Sun),Kochi,Marine Drive,2.9,400
7599,QUICK BITES,15551,"South Indian, North Indian",8am – 12midnight (Mon-Sun),Kochi,Marine Drive,-,300
7777,DESSERT PARLOR,11112,"Ice Cream, Desserts",9:30am – 10pm (Mon-Sun),Kochi,Marine Drive,-,150
7957,QUICK BITES,1497,"Biryani, Kerala",8am – 10pm (Mon-Sun),Kochi,Marine Drive,-,200
8332,QUICK BITES,5934,South Indian,7am – 10pm (Mon-Sun),Kochi,Marine Drive,3.3,250
8827,CASUAL DINING,7247,Kerala,8am – 10pm (Mon-Sun),Kochi,Marine Drive,-,400
9285,CAFÉ,7912,Cafe,10am – 10pm (Mon-Sun),Kochi,Marine Drive,-,200
9562,"CAFÉ,DESSERT PARLOR",3798,"Cafe, Desserts, Ice Cream",11am – 11pm (Mon-Sun),Kochi,Marine Drive,2.8,600
10255,CASUAL DINING,14979,"Chinese, South Indian",12noon – 10pm (Mon-Sun),Kochi,Marine Drive,-,350
10429,QUICK BITES,11543,Kerala,10am – 10pm (Mon-Sun),Kochi,Marine Drive,-,300
10603,CASUAL DINING,2449,"Chinese, North Indian, Ice Cream",8:30am – 11pm (Mon-Sun),Mumbai,Marine Lines,3.8,500
10906,BEVERAGE SHOP,13036,Beverages,11am – 11pm (Mon-Sun),Kochi,Marine Drive,-,150
10936,CASUAL DINING,11431,"North Indian, South Indian, Chinese",10am – 10pm (Mon-Sun),Kochi,Marine Drive,-,350
11167,CASUAL DINING,11770,South Indian,12noon – 11pm (Mon-Sun),Kochi,Marine Drive,-,400
11355,CASUAL DINING,5423,"South Indian, Beverages","7am – 11pm (Mon-Sat),7am – 1am (Sun)",Mumbai,Marine Drive,4.3,500
11422,QUICK BITES,8779,"Chinese, Momos","12:30pm – 9pm (Mon-Sat),Closed (Sun)",Kochi,Marine Drive,3.7,250
11488,FINE DINING,12190,"Seafood, Asian",6:30pm – 11:30pm (Mon-Sun),Kochi,Marine Drive,3.9,2400
11705,CAFÉ,3355,Cafe,9am – 9pm (Mon-Sun),Kochi,Marine Drive,3.7,400
11856,DESSERT PARLOR,13391,"Desserts, Beverages, Juices",11am – 10:30pm (Mon-Sun),Kochi,Marine Drive,-,400
12440,"FINE DINING,BAR",2187,"Seafood, Continental, Mediterranean, Kerala, S...","6:30am – 10:30am, 12:30pm – 3pm, 7:30pm –...",Kochi,Marine Drive,4.0,2000
12671,"BEVERAGE SHOP,QUICK BITES",9086,"Juices, Fast Food",10:30am – 12midnight (Mon-Sun),Kochi,Marine Drive,3.3,300

In [128]:
df_df = df_d

In [129]:
df_df['CUISINES'].str.get_dummies(sep=',')

,,Afghan,American,Andhra,Arabian,Asian,Assamese,Awadhi,BBQ,Bakery,...,Street Food,Sushi,Tamil,Tea,Tex-Mex,Thai,Tibetan,Turkish,Vietnamese,Wraps
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12686,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12687,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12688,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
df_df = pd.concat([df_df,df_df['CUISINES'].str.get_dummies(sep=',')],axis=1)

In [131]:
df_df = df_df.drop(columns='CUISINES')

In [132]:
df_df.shape

(12577, 226)

In [133]:
df_df.isnull().sum()

TITLE            0
RESTAURANT_ID    0
TIME             0
CITY             0
LOCALITY         0
                ..
Thai             0
Tibetan          0
Turkish          0
Vietnamese       0
Wraps            0
Length: 226, dtype: int64

In [134]:
df_d.isna().sum()

TITLE            0
RESTAURANT_ID    0
CUISINES         0
TIME             0
CITY             0
LOCALITY         0
RATING           2
COST             0
dtype: int64

In [135]:
df_d.isnull().sum()

TITLE            0
RESTAURANT_ID    0
CUISINES         0
TIME             0
CITY             0
LOCALITY         0
RATING           2
COST             0
dtype: int64

In [136]:
df_d['RATING'].value_counts()

3.9    1236
3.8    1184
4.0    1092
3.7    1077
3.6     940
4.1     926
3.5     762
4.2     714
NEW     692
3.4     570
4.3     553
-       490
3.3     363
4.4     359
3.2     265
4.5     196
2.9     186
3.1     185
3.0     169
2.8     146
4.6     134
2.7      89
4.7      66
2.6      61
2.5      35
4.8      31
4.9      22
2.4      15
2.3      10
2.1       3
2.0       2
2.2       2
Name: RATING, dtype: int64

In [137]:
df_d[df_d['RATING'].str.contains('')]  # df_d[df_d['LOCALITY'].str.contains('Marine')]

ValueError: cannot index with vector containing NA / NaN values

In [138]:
df_d[df_d['RATING'].isnull()]

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,COST
204,BAKERY,15062,Bakery,Not Available,Kochi,Marine Drive,NaN,200
421,CAFÉ,14127,"Cafe, Fast Food",Not Available,Hyderabad,Banjara Hills,NaN,350

In [139]:
df_df['RATING'].fillna('0.0',inplace=True)

In [142]:
df_df.isna().sum()

TITLE            0
RESTAURANT_ID    0
TIME             0
CITY             0
LOCALITY         0
                ..
Thai             0
Tibetan          0
Turkish          0
Vietnamese       0
Wraps            0
Length: 226, dtype: int64

In [143]:
df_d['RATING'].fillna('0.0',inplace=True)

In [144]:
df_d.isna().sum()

TITLE            0
RESTAURANT_ID    0
CUISINES         0
TIME             0
CITY             0
LOCALITY         0
RATING           0
COST             0
dtype: int64

In [146]:
df['RATING'].value_counts()

3.9    1238
3.8    1190
4.0    1099
3.7    1086
3.6     951
4.1     936
3.5     771
4.2     723
NEW     707
3.4     575
4.3     556
-       495
3.3     365
4.4     362
3.2     266
4.5     199
2.9     186
3.1     186
3.0     170
2.8     146
4.6     141
2.7      89
4.7      69
2.6      61
2.5      35
4.8      32
4.9      22
2.4      15
2.3      10
2.1       3
2.0       2
2.2       2
Name: RATING, dtype: int64

In [150]:
df_d['RATING'].value_counts()

3.9    1236
3.8    1184
4.0    1092
3.7    1077
3.6     940
4.1     926
3.5     762
4.2     714
NEW     692
3.4     570
4.3     553
0.0     492
3.3     363
4.4     359
3.2     265
4.5     196
2.9     186
3.1     185
3.0     169
2.8     146
4.6     134
2.7      89
4.7      66
2.6      61
2.5      35
4.8      31
4.9      22
2.4      15
2.3      10
2.1       3
2.0       2
2.2       2
Name: RATING, dtype: int64

In [149]:
df_d['RATING'].replace({'-':'0.0'},inplace=True)

AttributeError: 'NoneType' object has no attribute 'isnull'